.background{
    background: linear-gradient(rgb(121, 1, 196), rgb(77, 3, 189), rgb(238, 109, 255));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header{

    width: 100vw;
    height: 120px;
    position: fixed;
    display: flex;
    align-items: center;
}

.title-left{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: white;
    margin-left: 1%;
    margin-top: 2%;

}

.icon-container{
    background: linear-gradient(rgb(252, 67, 255), rgb(255, 40, 173), rgb(206, 101, 255));
    border-radius: 12px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 2%;

}

.icons2{
    margin-left: 10%;
    display: flex;
    margin-top: 2%;

}

.home1{
 background: none;
 cursor: pointer;
 border: none;

}

.home1:hover{
     transform: scale(1.1);
}
.home1:active{
     transform: scale(0.95);
}

.mic2{
 background: none;
 cursor: pointer;
 border: none;

}

.mic2:hover{
     transform: scale(1.1);
}
.mic2:active{
     transform: scale(0.95);
}

.calender1{
 background: none;
 cursor: pointer;
 border: none;

}

.calender1:hover{
     transform: scale(1.1);
}
.calender1:active{
     transform: scale(0.95);
}

.left-main-section{
    height: 100vh;
    width: 90vh;
    margin-top: 28vh;
}
.paragraph{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
   margin-left: 20vh;
   font-size: 80px;

}
.paragraph:hover{
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    text-shadow: 0px 0px 10px rgb(56, 85, 249);
    font-size: 82px;
}

.bottom-paragraph{
    color: rgb(199, 199, 199);
    margin-left: 20%;
    margin-top: -5%;
    font-size: 24px;
}




.Sign-In-Button{
    display: none;
}

.Sign-In-Text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.google-logo{
    width: 30px;
    border-radius: 50px;

}

.Sign-In-Cover:hover{
    box-shadow: 0px 0px 10px lightblue;
    cursor: pointer;
    transform: scale(1.1);
}


.Sign-In-Cover:active{
    box-shadow: 0px 0px 10px lightblue;
    cursor: pointer;
    transform: scale(0.95);
}

.right-section{
   position: relative;
   left: 100vh;
   height: 100vh;
   width: 90vh;
   bottom: 55vh;


}

.company-logo{
    position: relative;
    bottom: 5vh;
    left: 6vh;
    width: 400px;
    height: 600px;
    mix-blend-mode: multiply;


}

.logo-background {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: relative;
    top: 80px;


    background: transparent;
    animation: neonPulse 3s infinite ease-in-out;
}

@keyframes neonPulse {
    0% {
        box-shadow:
            0 0 20px rgb(204, 196, 205),
            0 0 40px rgba(170, 50, 255, 0.3),
            0 0 60px rgba(120, 0, 255, 0.2);
    }
    50% {
        box-shadow:
            0 0 30px rgba(173, 147, 173, 0.9),
            0 0 70px rgba(170, 60, 255, 0.7),
            0 0 120px rgba(120, 0, 255, 0.5);
    }
    100% {
        box-shadow:
            0 0 20px rgba(215, 187, 215, 0.4),
            0 0 40px rgba(170, 50, 255, 0.3),
            0 0 60px rgba(120, 0, 255, 0.2);
    }
}

.company-logo:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.company-logo:active{
    transform: scale(0.95);
    cursor: pointer;
}

.same-button{

}